<header>
    <h1>{{screamIt title}}</h1>
    <ul style="display: inline">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/history">History</a></li>
    </ul>
</header>